<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<h1>Buscador de productos</h1>

	<div class="container">
			<div class="main">
                <h2>Agregar nuevo producto</h2>
				<div class="main-center">
					<form class="" method="post" action="#">
						
						<div class="form-group">
							<label for="name">Nombre del producto</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
				<input type="text" class="form-control" name="name" id="name"  placeholder="Nombre del producto"/>
							</div>
						</div>

						<div class="form-group">
							<label for="email">Precio</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="email" placeholder="Precio del producto"/>
							</div>
						</div>

						<div class="form-group">
							<label for="username">Link del producto</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="username" placeholder="Link del producto"/>
								</div>
						</div>

				<button class='btn-success' type="submit">ENVIAR</button>
						
					</form>
				</div><!--main-center"-->
			</div><!--main-->
		</div><!--container-->